<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {%load static%}
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link rel='stylesheet', href="{% static 'styles/normalize.css' %}">
  <link rel='stylesheet', href="{% static 'styles/base.css' %}">
  <link rel='stylesheet', href="{% static 'styles/layout.css' %}">
  <link rel='stylesheet', href="{% static 'styles/modules.css' %}">
  <title>Kickstarter Projects</title>
</head>
<body>
  <header>
    <h1>Kickstarter Analysis</h1>
    <nav>
      <ul>
        <li><a href="{% url "home" %}">Home</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content %}
  </main>
</body>
</html>
