[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
pandas = "*"
sqlalchemy = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"

[dev-packages]

[requires]
python_version = "3.7"
