@import 'vars'

li {
    margin: 8px;
  a {
    color: $color-primary;
      &:hover {
        color: $color-secondary;
      }
    }
}

.page-header{
  width:50%;
  margin:auto;
  padding:30px;
  font-size: 4vw;
}

nav li {
  display: inline-block;
  padding: 15px;
}
